services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=postgres_db
      # OJO: Aquí se deja 5432 porque la comunicación INTERNA entre 
      # contenedores sigue siendo por el puerto original de Postgres.
      - DB_PORT=5432 
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
    depends_on:
      - postgres_db
    volumes:
      - ./:/app
      - /app/node_modules

  postgres_db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      # IZQUIERDA (5433): Puerto en tu PC (para evitar el conflicto).
      # DERECHA (5432): Puerto original dentro del contenedor.
      - "5433:5432"

volumes:
  postgres_data:
